<div class="row">
  <div class="large-12 columns">
    <h1>Ticket Tracker</h1>
    <h2 class="subheader">Know <strong>all</strong> your parking tickets</h2>
  </div>
</div>
<div class="row" style="margin-top: 60px; margin-bottom: 20px;">
  <div class="large-4 columns" style="text-align: center;">
    <i class="general foundicon-checkmark" style="font-size: 10em; color: #00A0B0;"></i>
  </div>
  <div class="large-4 columns" style="text-align: center;">
    <i class="social foundicon-rss" style="font-size: 10em; color: #CC333F;"></i>
  </div>
  <div class="large-4 columns" style="text-align: center;">
    <i class="general-enclosed foundicon-globe" style="font-size: 10em; color: #8A9B0F;"></i>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <h3>Parking and Traffic Citations</h3>
    <p>Did your parking citations fly off your windshield? We'll check your accounts directly to the <abbr title="San Francisco Municipal Transportation Agency">SFMTA</abbr> and Seattle.gov to ensure your balance is paid in full and avoid paying late charges.</p>
  </div>
  <div class="large-4 columns">
    <h3 style="display: inline;">Reminder to Pay</h3><span class="success label" style="margin-left: 10px; display: inline;">Coming Soon</span>
    <p style="display: block; padding-top: 1em;">Sure, you knew you had a parking ticket - but you forgot to pay! We'll remind you a week before payment is due to make sure you paid.</p>
  </div>
  <div class="large-4 columns">
    <h3>San Francisco AND Seattle</h3>
    <p>Currently we're serving San Francisco and Seattle. If you're interested in other Municipalities, please contact us at <a href="mailto:tickettracker415@gmail.com">tickettracker415@gmail.com</a></p>
  </div>
</div>

<%= render 'form' %>
