<div class="row">
  <div class="large-12 columns">
    <h1>Alright!</h1>
    <h2 class="subheader">You're all signed up. </h2>
    <p>Hopefully we'll never need to email you. ;)</p>
    <p>If you'd like to watch another license plate number, just press the back button and fill in the form again.</p>
  </div>
</div>
